/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* NOTE: After I finished my coding, I went to  https://autoprefixer.github.io to add Autoprefixer CSS online */

@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --ff-primary: "Merriweather", serif;
  --ff-secondary: "Lato", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #1683e0;

  --fs-h1: 2.8rem;
  --fs-h2: 1.6rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;
}

@media (min-width: 700px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.7rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

html {
  width: 100%;
  height: 100%;
}
::selection {
  color: #fff;
  background-color: black;
}
body {
  background-image: radial-gradient(
      circle at 16% 83%,
      rgba(148, 148, 148, 0.06) 0%,
      rgba(148, 148, 148, 0.06) 50%,
      rgba(63, 63, 63, 0.06) 50%,
      rgba(63, 63, 63, 0.06) 100%
    ),
    radial-gradient(
      circle at 68% 87%,
      rgba(66, 66, 66, 0.06) 0%,
      rgba(66, 66, 66, 0.06) 50%,
      rgba(105, 105, 105, 0.06) 50%,
      rgba(105, 105, 105, 0.06) 100%
    ),
    radial-gradient(
      circle at 38% 50%,
      rgba(123, 123, 123, 0.06) 0%,
      rgba(123, 123, 123, 0.06) 50%,
      rgba(172, 172, 172, 0.06) 50%,
      rgba(172, 172, 172, 0.06) 100%
    ),
    -webkit-gradient(linear, left top, right top, from(hsl(18, 0%, 1%)), to(hsl(18, 0%, 1%)));
  background-image: -o-radial-gradient(
      16% 83%,
      circle,
      rgba(148, 148, 148, 0.06) 0%,
      rgba(148, 148, 148, 0.06) 50%,
      rgba(63, 63, 63, 0.06) 50%,
      rgba(63, 63, 63, 0.06) 100%
    ),
    -o-radial-gradient(68% 87%, circle, rgba(66, 66, 66, 0.06) 0%, rgba(
            66,
            66,
            66,
            0.06
          )
          50%, rgba(105, 105, 105, 0.06) 50%, rgba(105, 105, 105, 0.06) 100%),
    -o-radial-gradient(38% 50%, circle, rgba(123, 123, 123, 0.06) 0%, rgba(
            123,
            123,
            123,
            0.06
          )
          50%, rgba(172, 172, 172, 0.06) 50%, rgba(172, 172, 172, 0.06) 100%),
    -o-linear-gradient(left, hsl(18, 0%, 1%), hsl(18, 0%, 1%));
  background-image: radial-gradient(
      circle at 16% 83%,
      rgba(148, 148, 148, 0.06) 0%,
      rgba(148, 148, 148, 0.06) 50%,
      rgba(63, 63, 63, 0.06) 50%,
      rgba(63, 63, 63, 0.06) 100%
    ),
    radial-gradient(
      circle at 68% 87%,
      rgba(66, 66, 66, 0.06) 0%,
      rgba(66, 66, 66, 0.06) 50%,
      rgba(105, 105, 105, 0.06) 50%,
      rgba(105, 105, 105, 0.06) 100%
    ),
    radial-gradient(
      circle at 38% 50%,
      rgba(123, 123, 123, 0.06) 0%,
      rgba(123, 123, 123, 0.06) 50%,
      rgba(172, 172, 172, 0.06) 50%,
      rgba(172, 172, 172, 0.06) 100%
    ),
    linear-gradient(90deg, hsl(18, 0%, 1%), hsl(18, 0%, 1%));
  background-size: cover;
  background-color: var(--clr-accent);
  color: var(--clr-dark);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.5;
  min-height: 100vh;
  width: 100%;
}

img {
  display: block;
  height: 80%;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h3 {
  font-size: var(--fs-h3);
}

.welcome-head {
  font-weight: var(--fw-reg);
  font-size: 8vw;
}

strong {
  font-weight: var(--fw-bold);
}

.subtitle {
  font-size: 6vw;
  margin: 0;
}

/* nav */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 999;
}
#nav-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav-h h2 {
  animation: moveToRight 3s backwards;
  animation-delay: 1s;
  margin-left: 0.1em;
  font-family: "Galada", cursive;
  font-size: 40px;
  font-weight: var(--fw-bold);
}
@media (min-width: 846px) {
  #nav-h h2 {
    font-size: 250%;
  }
}
@keyframes moveToRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200%);
  }
  51% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

#nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 9px;
  list-style: none;
  font-size: 1.5rem;
}

nav a {
  text-decoration: none;
  color: var(--clr-dark);
  letter-spacing: 0.05em;
  padding: 2rem;
  display: block;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  -webkit-box-shadow: 3px 3px 5px 6px #a8a8a8;
  box-shadow: 3px 3px 5px 6px #a8a8a8;
}

main {
  margin-top: 91px;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  background-image: -o-linear-gradient(45deg, white 50%, black 50%);
  background-image: linear-gradient(45deg, white 50%, black 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
@keyframes welcome-section {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.welcome-con {
  transition: transform 1s linear;
  animation: welcome-section 3s ease-in-out 500ms;
}

@media (min-width: 500px) {
  .welcome-con {
-webkit-animation: typing 3s steps(40), blink 0.5s step-end infinite alternate;
        animation: typing 3s steps(40), blink 0.5s step-end infinite alternate;
white-space: nowrap;
overflow: hidden;
border-right: 3px solid;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.welcome-con:hover {
  transform: skew(20deg);
}
#welcome-section h1,
#welcome-section strong,
#welcome-section p {
  color: rgb(23, 176, 196);
  text-align: center;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 3rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4rem 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 4rem 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 4rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.project:hover {
  transform: scale(1.03);
}

.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px 15px;
  font-size: 1.3rem;
  background-color: #3b3b6a;
  border: none;
  -webkit-box-shadow: 3px 5px white;
  box-shadow: 3px 5px white;
  z-index: 999;
  -webkit-transition: 300ms linear;
  -o-transition: 300ms linear;
  transition: 300ms linear;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 1.2rem;
}

button a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.fa.fa-angle-double-right {
  margin-left: 5px;
  font-size: 28px;
  color: #3b3b6a;
}

button a:hover,
button a:focus {
  color: #3b3b6a;
}

button:hover,
button:focus {
  transform: scale(1.3);
  background-color: white;
  box-shadow: 3px 5px #3b3b6a;
  color: #3b3b6a;
}

#projects {
  margin-bottom: 2rem;
}

.project-title {
  font-size: 1.4rem;
  padding: 2rem 0.5rem;
  background-color: #326e89;
  text-align: center;
  color: aliceblue;
  font-family: "Dancing Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.project-title:hover {
  opacity: 0.8;
  background-color: #00b0ff;
  color: white;
}

.project-h {
  color: white;
  text-decoration: underline;
  margin-bottom: 2rem;
  margin-top: 25px;
  font-size: 25px;
}

footer {
  background-color: #36508d;
  text-align: center;
  height: 10rem;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-h {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
}

.links {
  text-decoration: none;
  color: white;
  padding-right: 20px;
  transition: 400ms ease-in;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem auto;
}

a {
  text-decoration: none;
}

.links:hover {
  color: var(--clr-dark);
  transform: scale(1.3);
  margin-left: 1em;
  margin-right: 1em;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  font-size: 1.39rem;
}

.fa {
  font-family: "Font Awesome 5 Brands";
  margin-right: 5px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

@media (max-width: 400px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    grid-row-gap: 2rem;
    -ms-grid-rows: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
}

@media (max-width: 1024px) {
  .grid {
    max-width: 700px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    margin: 0 auto;
    height: auto;
  }
  .project-tile {
    scroll-snap-align: center;
  }
}

@media (max-width: 400px) {
  #projects {
    max-width: 360px;
    margin: 0 auto;
    padding: 1rem;
  }
  .project-h {
    font-size: 1.188em;
    padding: 0 0.3rem;
  }
}

@media (max-width: 415px) {
  .contact-links {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 350px;
  }
  .links {
    padding: 0;
  }
  #nav-list {
    font-size: 18px;
    margin: 0 auto;
  }
  .welcome-head {
    font-size: var(--fs-h1);
  }
  .subtitle {
    font-size: 2.2rem;
  }
}
@media (max-width: 699px) {
  #nav-h {
    width: unset;
    margin-top: 5px;
  }
  #navbar {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 0 !important;
  }
  header h2 {
    font-size: 45px;
  }
}

@media (min-width: 700px) {
  .project-h {
    font-size: 40px;
  }
  #contact {
    font-size: 1.5rem;
  }
  .contact-h {
    font-size: 2rem;
  }
  #nav-h {
    width: 50%;
  }
}
.project-tile {
  scroll-snap-align: center;
}
